@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px; }

body {
  background-color: #c4ac94; }

.header {
  background-color: #deb55e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%; }

/*ESTILOS DEL LOGO*/
.header .logo {
  cursor: pointer; }
  .header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s; }
    .header .logo img:hover {
      transform: scale(1.2); }

/*ESTLOS DE LA BARRA DE NAVEGACION*/
.header .nav-links {
  list-style: none; }
  .header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    font-size: 700;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px 0 #824b21;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .header .nav-links li a {
      text-decoration: none;
      color: whitesmoke; }
      .header .nav-links li a:hover {
        transform: scale(1.1);
        color: #824b21; }

/*ESTILOS DEL BOTON "SOBRE NOSOTROS"*/
.header .btn button {
  font-weight: 700;
  color: #824b21;
  padding: 9px 25px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  .header .btn button:hover {
    background-color: whitesmoke;
    color: #824b21;
    transform: scale(1.1); }

/*ESTILOS DEL MAIN*/
/*ESTILOS DE TITULO Y SUBTITULOS*/
.main .titulo-de-la-pagina, .main .subtitulos-de-la-pagina {
  background-color: #b49c7c;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  padding: 15px 0px;
  width: auto;
  color: #824b21; }

.main .texto {
  font-weight: 700;
  color: #824b21;
  padding: 9px  25px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50px; }

/*ESTILOS "PROGRAMA EN VIVO"*/
.main .transmision-en-directo {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main .transmision-en-directo .link-de-twitch {
    margin: 5px;
    padding: 9px  25px;
    background-color: #d89a2e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .main .transmision-en-directo .link-de-twitch:hover {
      transform: scale(1.1); }

/*ESTILOS "NOTI EXPRESS"*/
.main .noticias {
  padding: 70px 100px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50px; }

/*ESTILOS "ULTIMOS PROGRAMAS"*/
.container-videos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "video-1 video-2" "video-3 video-4"; }

.video-1 {
  grid-area: video-1;
  padding: 1.5px 1.5px; }

.video-2 {
  grid-area: video-2;
  padding: 1.5px 1.5px; }

.video-3 {
  grid-area: video-3;
  padding: 1.5px 1.5px; }

.video-4 {
  grid-area: video-4;
  padding: 1.5px 1.5px; }

.main .lista-de-videos {
  background-color: #deb55e;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around; }
  .main .lista-de-videos .container-videos {
    margin: 5px;
    padding: 9px  25px;
    background-color: #d89a2e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .main .lista-de-videos .container-videos:hover {
      transform: scale(1.1); }

/*ESTILOS PROGRAMACION*/
.main .container {
  width: 90%;
  background-color: white;
  box-shadow: 0 0 20px #333;
  border-radius: 5px;
  border-color: #333;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  grid-auto-columns: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas: "Horarios\/Dias Lunes- Martes- Miercoles Jueves Viernes" "entreturno Reuniones- Reuniones- Reuniones- Reuniones- Reuniones-" "Segundo-Recreo Info-tec Libre Pinguino-galactico . Info-tec-2"; }

.main .entreturno {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Lunes- {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Martes- {
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Miercoles {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Jueves {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Viernes {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Segundo-Recreo {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Reuniones- {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Info-tec {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Info-tec-2 {
  grid-column-start: 6;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Pinguino-galactico {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Libre {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.main .Libre2 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 720px) {
  .header {
    padding: 10px 10px; }
  .header .nav-links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 7px; }
  /*ESTILOS "PROGRAMA EN VIVO"*/
  .main .transmision-en-directo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main .transmision-en-directo .link-de-twitch {
      margin: 5px;
      padding: 9px  25px;
      background-color: #d89a2e;
      border: none;
      border-radius: 50px;
      transition: all 0.3s ease 0s; }
      .main .transmision-en-directo .link-de-twitch:hover {
        transform: scale(1.1); }
      .main .transmision-en-directo .link-de-twitch .twitch {
        width: 400px;
        height: 200px; }
  .container-videos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-videos .videos {
      width: 400px;
      height: 200px; } }

@media (max-width: 1175px) {
  .container-videos {
    width: fit-content;
    height: fit-content; }
    .container-videos .videos {
      width: 400px;
      height: 200px; } }

@media (max-width: 855px) {
  .container-videos {
    width: fit-content;
    height: fit-content; }
    .container-videos .videos {
      width: fit-content;
      height: fit-content; } }
